In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [18]:
# Read cleaned Police data from previous notebook
crime = "Output/CrimeData_Monthly.csv"
crime_df = pd.read_csv(crime, encoding="ISO-8859-1")
crime_df.head(5)

     Month  CrimeCount
0  2018-01        1482
1  2018-02        1276
2  2018-03        1405
3  2018-04        1326
4  2018-05        1674